version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: mydb
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:123456@db:5432/mydb
    ports:
      - '3000:3000'
    command: >
      sh -c "npx typeorm migration:run -d dist/data-source.js && node dist/main.js"

volumes:
  db_data:
